* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

.container-fluid,
.row {
    margin : 0;
    padding: 0;
}

html {
    font-family    : 'Poppins';
    scroll-behavior: smooth;
}

#top {
    display            : none;
    width              : 50px;
    height             : 50px;
    right              : 10px;
    bottom             : 55px;
    background-color   : #373737;
    background-image   : url('../Images/scrollTop.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : 25% auto;
    border-radius      : 50%;
    box-shadow         : 0 0 2px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 0.5s;
    cursor             : pointer;
    z-index            : 9998;
}

#top:hover {
    background-color: #FD846B
}

/* ------------------------ HEADER ------------------------ */

.header-container {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 9999;
}

.header-container a {
    color          : #000;
    text-decoration: none;
}

.header-container .header_menu ul {
    display: flex;
}

.header-container .header_menu ul li {
    padding    : 25px;
    font-weight: 600;
    color      : #373737;
}

.header-container .header_menu ul li a:hover {
    color              : #FD846B;
    border-bottom      : 1px solid #FD846B;
    transition-duration: .3s;
}

.header-container .header_account ul {
    display        : flex;
    justify-content: flex-end;
}

.header-container .header_account ul li {
    padding: 23px;
}

.header-container .header_account ul li:first-child {
    padding: 0;
}

@keyframes slideIn {
    0% {
        transform: translateY(40px);
        opacity  : 0;
    }

    100% {
        transform: translateY(60px);
        opacity  : 1;
    }
}

.slideIn {
    animation-name: slideIn;
}

.animateSlide {
    animation-duration : 0.5s;
    animation-fill-mode: both;
}

.header-container .header_account .dropdown {
    padding: 18px 11px;
}

.header-container .header_account .dropdown .btn:focus {
    box-shadow: none !important;
}

.header-container .header_account .dropdown .dropdown-menu {
    min-width: auto;
    top      : -9px !important;
    left     : 9px !important;
}

.header-container .header_account .dropdown .dropdown-menu .dropdown-item {
    padding: 9px 24px;
}

.header-container .header_account i {
    font-size: 20px;
}

.header-container .header_account i:hover {
    color              : #FD846B;
    transition-duration: .5s;
}

.mobile-menu {
    display: none;
}

.mobile_overlay {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 9998;
    cursor          : pointer;
    display         : none;
}

.mobile_overlay.active {
    display: block;
}

.mobile-menu .bar {
    height          : 5px;
    width           : 30px;
    background-color: #000;
    margin          : 5px auto;
    transition      : all .7s ease;
}

.mobile-menu .button {
    cursor    : pointer;
    transition: all .7s ease;
    position  : absolute;
    top       : 30px;
    left      : 40px;
    z-index   : 9999;
}

.mobile-menu .button.push-right {
    left            : 300px;
    top             : 0;
    background-color: #FD846B;
    padding         : 2.5px 5px;
    position        : fixed;
}

.mobile-menu .middle {
    margin: 0 auto;
}

.mobile-menu .button.active .top {
    transform: translateY(10px) rotateZ(45deg);
}

.mobile-menu .button.active .bottom {
    transform: translateY(-10px) rotateZ(-45deg);
}

.mobile-menu .button.active .middle {
    width: 0;
}

.mobile-menu .mobile_sidebar {
    height          : 100%;
    width           : 0;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-color: #FD846B;
    overflow-x      : hidden;
    transition      : 0.7s;
    z-index         : 9998;
}

.mobile-menu .mobile_sidebar.active {
    width: 300px;
}

.mobile-menu .mobile_sidebar ul li a {
    color: #fff;
}

.mobile-menu .search-bar {
    position: relative;
}

.mobile-menu .input-group-field {
    border       : none;
    width        : 100%;
    height       : 40px;
    border-bottom: 1px solid #ececec;
}

.mobile-menu .icon-search {
    position        : absolute;
    right           : 0;
    padding         : 11px 12px;
    background-color: #fff;
    border          : none;
    border-bottom   : 1px solid #ececec;
}

.mobile-menu a {
    display         : block;
    width           : 100%;
    color           : #000;
    background-color: #fff;
    border-bottom   : 1px solid #ececec;
    padding         : 20px 16px;
}

/* ------------------------ MAIN ------------------------ */

.swiper-container {
    width : 100%;
    height: 100%;
}

.swiper-container .swiper-slide {
    font-size        : 18px;
    background       : #fff;
    height           : 700px;
    max-width        : 100%;
    background-repeat: no-repeat;
    background-size  : cover;
    display          : table;
}

.swiper-container .slide1 {
    background-image: url('../Images/Slider/Slide1.png');
}

.swiper-container .slide2 {
    background-image: url('../Images/Slider/Slide2.png');
}

.swiper-container .slide3 {
    background-image   : url('../Images/Slider/Slide3.png');
    background-position: center right;
}

.swiper-container .swiper-slide>.row {
    display       : table-cell;
    vertical-align: middle;
    transform     : translateY(5%);
}

.swiper-container .slideInRight {
    animation-name    : slideInRight;
    animation-duration: 1s;
}

.swiper-container .slideInLeft {
    animation-name    : slideInLeft;
    animation-duration: 1s;
}

@keyframes slideInRight {
    0% {
        left   : -30%;
        opacity: 0;
    }

    100% {
        left   : 0;
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        left   : 30%;
        opacity: 0;
    }

    100% {
        left   : 0;
        opacity: 1;
    }
}

.slide_subheading {
    font-size: 25px;
}

.slide_heading {
    font-family: 'Playfair Display';
    font-size  : 40px;
    color      : #FD846B;
}

.slide_subheading::after {
    background    : #fc846b;
    content       : '';
    display       : inline-block;
    width         : 50px;
    height        : 1px;
    vertical-align: middle;
    margin-left   : 10px;
}

.slide_btn {
    font-weight     : bold;
    padding         : 12px 50px;
    background-color: #373737;
    color           : #FD846B;
    border          : none;
    border-radius   : 35px;
    box-shadow      : none;
    outline         : none;
}

.slide_btn:hover {
    background-color   : #FD846B;
    color              : #fff;
    transition-duration: .5s;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    display         : none;
    top             : 39%;
    box-shadow      : none;
    outline         : none;
    background-color: #fff;
    padding         : 20px 22px;
    border-radius   : 50%;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
    font-size: 30px;
    color    : #000;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    display: flex;
}

.collections_container .collections_item {
    margin-top: 10rem;
}

.shopify-container {
    background-color   : #FD846B;
    background-image   : url('../Images/Collections/Shopify-Background.png');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: 70px 80px;
}

.shopify-container .row .col-lg-6:first-child {
    padding: 0;
}

.shopify-container .row .col-lg-6:nth-child(2) {
    padding   : 0 30px;
    margin-top: 100px;
}

.shopify-container .row .col-lg-6:first-child img {
    display              : block;
    mask-image           : url('../Images/Collections/Mask-Shopify.png');
    -webkit-mask-image   : url('../Images/Collections/Mask-Shopify.png');
    mask-position        : center center;
    -webkit-mask-position: center center;
    mask-repeat          : no-repeat;
    -webkit-mask-repeat  : no-repeat;
    mask-size            : cover;
    -webkit-mask-size    : cover;
}

.shopify_subheading {
    font-size  : 25px;
    color      : #fff;
    font-weight: bold;
}

.shopify_subheading::after {
    background-color: #fff;
    content         : '';
    display         : inline-block;
    width           : 50px;
    height          : 1px;
    vertical-align  : middle;
    margin-left     : 10px;
}

.shopify_feature_heading {
    font-size  : 30px;
    font-weight: bold;
}


.shopify-container .shopify_feature {
    display: flex;
    padding: 30px 0;
    color  : #fff;
}

.shopify-container .shopify_feature .shopify_feature_text {
    font-size  : 27px;
    align-self : center;
    margin-left: 40px;
}

.show-shopify-container {
    animation-name    : appear;
    animation-duration: 1.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.testimonial-container {
    background-image : url('../Images/Collections/Testimonials-Background.png');
    background-repeat: no-repeat;
    background-size  : contain;
}

.testimonial-container .flickity-viewport {
    height: 500px !important;
}

.testimonial-container .testimonial-carousel-cell {
    width: 100%;
    top  : -150px;
}

.testimonial-container .flickity-page-dots {
    bottom: 0px;
}

.testimonial-container .flickity-page-dots .dot {
    width           : 8px;
    height          : 8px;
    opacity         : 1;
    background-color: #FD846B;
    opacity         : 0.4;
}

.testimonial-container .flickity-page-dots .dot.is-selected {
    opacity            : 1;
    transition-duration: 0.5s;
}

.testimonial-container .testimonial-carousel-cell .row {
    margin: 200px 0;
}

.testimonial-container .testimonial-avatar::before {
    content         : '';
    border-radius   : 50px;
    position        : absolute;
    top             : 0;
    left            : 5%;
    width           : 100%;
    height          : 180%;
    transform       : rotate(30deg);
    transform-origin: top center;
    z-index         : -1;
    background-color: #FD846B;
    opacity         : 0.3;
    width           : 62%;
}

.testimonial-container .testimonial-avatar .avatar {
    border-radius: 50%;
    width        : 35%;
}

.slide_name {
    font-size  : 20px;
    font-family: 'Playfair Display';
}

.slide_job {
    font-size  : 16px;
    font-family: 'Poppins';
}

.testimonial-container .flickity-button {
    display: none;
}

.testimonial-container .slide_text {
    color       : #373737;
    word-spacing: 5px;
}

.testimonial-container .flickity-page-dots {
    bottom: 120px;
}

.testimonial-container .flickity-page-dots .dot {
    border-radius: 0;
}

.video-banner {
    position         : relative;
    background-image : url('../Images/Collections/Video-banner.png');
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 639px;
}

.video-banner .slide_text {
    color: #fff;
}

.video-banner .row .col-lg-6 {
    margin-top: 100px;
}

.video-banner .video-show i {
    color : #FD846B;
    cursor: pointer;
}

.overlay {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 999;
    cursor          : pointer;
    display         : none;
}

.video {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    z-index  : 9999;
    display  : none;
}

.video .fa-times {
    color   : #fff;
    position: absolute;
    top     : -50px;
    cursor  : pointer;
}

.blog-container {
    background-image: url('../Images/Collections/Testimonials-Background.png');
    background-size : cover;
}

.blog-container .row:first-child .slide_text::after {
    position        : absolute;
    top             : -18px;
    left            : 50%;
    transform       : translateX(-50%);
    background-color: #fc846b;
    content         : '';
    display         : inline-block;
    width           : 100px;
    height          : 3px;
    vertical-align  : middle;
}

.blog-container a {
    text-decoration: none;
}

.blog-container img {
    max-width: 100%;
}

.blog-container .card {
    border: none;
}

.blog-container .card .card-img-top {
    border-radius: 30px;
}

.blog-container .slide_heading {
    font-family: 'Playfair Display';
    font-size  : 40px;
    color      : #FD846B;
}

.blog-container .slide_heading:hover {
    color: #fc846b;
}

.blog-container .slide_text {
    font-size   : 16px;
    color       : #000;
    word-spacing: 5px;
}

.blog-container .blog_comment {
    font-size: 15px;
}

.blog-container img:hover {
    opacity: 0.7;
}

/* ------------------------ FOOTER ------------------------ */

.footer-container {
    background-image   : url('../Images/Footer-Background.png');
    background-size    : cover;
    background-position: center;
    height             : 600px;
}

.footer-container .row {
    padding-top: 100px;
}

.footer-container .footer_heading {
    color      : #fff;
    font-family: 'Playfair Display';
    font-size  : 24px;
    margin-top : 50px;
}

.footer-container ::placeholder {
    color  : #fc846b;
    opacity: 0.8;
}

.footer-container .container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 20px;
}

.footer-container .notify-btn.active {
    height    : 54px;
    width     : 290px;
    transition: all 1s ease-out;
    opacity   : 0;
}

.footer-container .form-group {
    position  : absolute;
    transition: all 1s ease-out;
    top       : 50%;
    left      : 40%;
}

.footer-container form {
    position: relative;
    width   : 290px;
}

.footer-container .btn,
.footer-container input {
    background   : #fff;
    color        : #fc846b;
    outline      : none;
    border       : 0;
    width        : 180px;
    font-size    : 20px;
    height       : 58px;
    border-radius: 60px;
    margin       : 0;
    padding      : 10px 15px;
    box-sizing   : border-box;
    transition   : all 0.3s ease-in;
    position     : absolute;
    cursor       : pointer;
}

.footer-container input {
    z-index : -1;
    position: relative;
    opacity : 0;
}

.footer-container input.active {
    width        : 450px;
    margin       : 0 -60px;
    transition   : all 0.3s ease-out;
    padding-right: 84px;
    cursor       : text;
    z-index      : 100;
    opacity      : 1;
}

.footer-container input:not(:valid)+.submit-btn {
    pointer-events: none;
    color         : #dddddd;
}

.footer-container input:valid+.submit-btn {
    pointer-events: visible;
    color         : #fff;
}

.footer-container .notify-btn.active {
    width     : 300px;
    margin    : 0 -60px;
    z-index   : -1;
    transition: all 0.3s ease-in;
}

.footer-container .thanku-btn {
    z-index: -1;
    opacity: 0;
    left   : 0;
}

.footer-container .thanku-btn.active {
    z-index   : 200;
    opacity   : 1;
    transition: all 0.3s ease-in;
    left      : 50%;
    position  : absolute;
    transform : translateX(-50%);
}

.footer-container .submit-btn {
    outline      : none;
    border       : 0;
    background   : #fc846b;
    color        : #fff;
    position     : absolute;
    right        : -30%;
    top          : 5px;
    border-radius: 60px;
    width        : 80px;
    height       : 48px;
    font-size    : 16px;
    opacity      : 0;
    z-index      : -1;
    transition   : all 0.3s ease-out;
}

.footer-container .submit-btn.active {
    opacity   : 1;
    z-index   : 100;
    transition: all 0.3s ease-in;
    cursor    : pointer;
}

.footer-container .footer_social ul {
    display        : flex;
    justify-content: space-around;
}

.footer-container .footer_social i {
    color    : #fc846b;
    font-size: 20px;
}

.footer-container .footer_social i:hover {
    color              : #fff;
    transition-duration: 1s;
}

.footer-container .footer_menu a {
    font-weight    : bold;
    color          : #fff;
    text-decoration: none;
    padding        : 0 30px;
    font-size      : 18px;
}

.footer-container .footer_menu li:not(:last-child) a {
    border-right: 2px solid #fff;
}

.footer-container .footer_menu a:hover {
    color              : #fc846b;
    transition-duration: 1s;
}

.footer-container hr {
    margin-top: 60px;
    border-top: 2px solid rgba(252, 132, 107, 0.3);
    ;
}

.footer-container p:last-child {
    color     : #fff;
    margin-top: 40px;
}


/* ------------------------ RESPONSIVE ------------------------ */

/* TABLET */
@media (max-width: 1024px) and (min-width: 740px) {

    .pl-5 {
        padding-left: 1rem !important;
    }

    .pr-5 {
        padding-right: 1rem !important;
    }

    /* ------------------------ HEADER ------------------------ */
    .header-container .header_menu {
        display: none;
    }

    .header-container .header_account li:nth-child(2),
    .header-container .header_account li:first-child {
        display: none; 
    }

    .header-container .header_account ul {
        display: block;
    }

    .header-container .header_account ul li {
        padding: 23px 0px;
    }

    .header-container .header_logo {
        margin-left: 25%;
    }

    .mobile-menu {
        display: block;
    }

    /* ------------------------ MAIN ------------------------ */
    .swiper-container .swiper-slide {
        background-size: cover;
        height         : 400px;
    }

    .slide_subheading {
        font-size: 18px;
    }

    .slide_heading {
        font-family: 'Playfair Display';
        font-size  : 20px;
        color      : #FD846B;
    }

    .slide_text {
        font-size: 14px;
    }

    .slider {
        margin-top: 64px;
    }

    .swiper-container .slide_btn {
        padding   : 10px 30px;
        font-size : 14px;
        margin-top: 1rem !important;
    }

    .collections_container img {
        max-width: 100%;
    }

    .collections_container .collections_item {
        margin-top: 65px;
    }

    .shopify-container .row .col-lg-6:first-child img {
        max-width: 100%;
    }

    .shopify_subheading {
        font-size: 16px;
    }

    .shopify_feature_heading {
        font-size: 24px;
    }

    .shopify-container .shopify_feature {
        padding: 15px;
    }

    .shopify-container .shopify_feature .shopify_feature_text {
        font-size  : 18px;
        margin-left: 20px;
    }

    .shopify-container .shopify_feature .shopify_feature_icon {
        font-size: 1.5em;
    }

    .testimonial-container .testimonial-text p.mt-5:first-child {
        margin-top: 1rem !important;
    }

    .testimonial-container .testimonial-carousel-cell .row {
        margin: 170px 0;
    }

    .testimonial-container .flickity-viewport {
        height: 380px !important;
    }

    .testimonial-container .flickity-page-dots {
        bottom: 50px;
    }

    .video-banner {
        height: 400px;
    }

    .video-banner .row .col-md-6 {
        margin-top: 50px;
    }

    .video-banner .video iframe {
        width : 500px;
        height: 300px;
    }

    .video-banner .video i {
        display: none;
    }

    .blog-container .slide_heading {
        font-size: 20px;
    }

    .blog-container .card-body {
        padding: 0.25rem;
    }

    .footer-container .footer_social ul {
        justify-content: center;
    }

    .footer-container .footer_social ul li {
        margin: 0 10px;
    }

    .footer-container .footer_menu a {
        padding: 0 10px;
    }
}

/* PHONE */
@media (max-width: 739px) {

    img {
        max-width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .pl-5 {
        padding-left: 0.5rem !important;
    }

    .pr-5 {
        padding-right: 0.5rem !important;
    }

    /* ------------------------ HEADER ------------------------ */
    .header-container {
        position: relative;
    }

    .header-container .header_menu {
        display: none;
    }

    .header-container .header_account li:nth-child(2),
    .header-container .header_account li:first-child {
        display: none; 
    }

    .header-container .header_account ul {
        display: block;
    }

    .header-container .header_account ul li {
        padding: 23px 0px;
    }

    .header-container .header_logo {
        margin-left: 25%;
        padding-top: 5px;
    }

    .header-container .header_logo img {
        max-width: 100%;
    }

    .mobile-menu .button {
        left: 20px;
    }

    .mobile-menu {
        display: block;
    }

    .swiper-container .swiper-slide>.row {
        display: block;
    }

    .swiper-container .swiper-slide {
        height             : 400px;
        background-position: center right;
        /* margin-right    : 0 !important; */
    }

    .slide_subheading {
        font-size: 18px;
    }

    .blog-container .slide_heading {
        font-size: 20px;
    }

    .swiper-container .slide_text {
        margin-top: 4rem !important;
    }

    .collections_container {
        margin-top: 60px;
    }

    .collections_container .collections_item {
        margin-top: 5rem;
    }

    .collections_container .slide_text {
        margin-top: 1rem !important;
    }

    .shopify-container {
        background-position: 40px 130px;
    }

    .testimonial-container {
        text-align: center;
    }

    .testimonial-container .flickity-page-dots {
        bottom: 0;
    }

    .video-banner {
        height: 200px;
    }

    .video-banner .row .col-sm-12 {
        margin: 0 !important;
    }

    .video-banner .slide_heading {
        font-size: 18px;
    }

    .video-banner .slide_text {
        margin-top: 1rem !important;
        font-size : 16px;
    }

    .video-banner .video-show {
        margin-top: 1rem !important;
    }

    .video-banner .video-show .fa-play-circle {
        font-size: 2em !important;
    }

    .video-banner .video iframe {
        width : 350px;
        height: 300px;
    }

    .video-banner .video i {
        display: none;
    }

    .footer-container .footer_menu a {
        padding: 0 5px;
    }

    .footer-container input.active {
        width: 250px;
    }

    .footer-container .submit-btn {
        right: 30px;
    }

}